/** 테이블 CSS **/
/** Table 종류 **/
table.table-global { border:0 solid; padding:0px; margin:0px 0px 0px 10px; width:97%; border-spacing:0px; border-collapse:collapse; word-break:break-all; table-layout:fixed; }

/** 관리자화면  테이블 CSS */
table.tbList-a { padding:0px 0px 0px 0px; margin: 10px 0px 0px 0px; width: 100%; border: 1 solid; border-collapse: collapse; }
table.tbList-a th { padding: 0px 0px; height:30; border: 1px solid; border-bottom: 2px solid #9B9B9B; background-color: #F7F8F8; text-align: center; font-size: 10pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid; font-weight: bold; white-space: nowrap; color: #000000; }
table.tbList-a td { padding: 3px; border: 1px solid; font-size: 9pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid;}

table.tbList-a td .title{font-weight:bold;font-size:14px;font-family:'돋음',Dotum,Helvetica,sans-serif;}
table.tbList-a td .color01{color:999;}
table.tbList-a td .color02{color:red;}

table.tbList-a .line_01 { border-top: 2px solid #9B9B9B; font-weight: bold; color: #0000ff; }

table.tbList-b { padding:0px 0px 0px 0px; margin: 10px 0px 0px 0px; width: 100%; border: 1 solid; border-collapse: collapse; }
table.tbList-b th { padding: 0px 0px; height:30; border: 1px solid; background-color: #F7F8F8; text-align: center; font-size: 10pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid; font-weight: bold; white-space: nowrap; color: #000000; }
table.tbList-b td { padding: 3px; border: 1px solid; font-size: 10pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid;}


table.tbInput-a { padding:0px 0px 0px 0px; margin: 10px 0px 0px 0px; width: 100%; border: 1 solid; border-collapse: collapse; }
table.tbInput-a th { padding:0 20 0 0 ; border: 1px solid; height:20px; background-color:#fafafa; text-align:right; font-size:9pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid; font-weight: bold; white-space: nowrap; color: #000000; }
table.tbInput-a td { padding:3px 3px 3px 10px; border: 1px solid; }
table.tbInput-a .line_01 { border-top:2px solid #9B9B9B; font-weight:bold; color:#0000ff; }

table.tbSmall-a { padding:0px; margin:0px; border:0px; border-spacing:0px; border-collapse:collapse; text-align:center; font-size:9pt; font-family:verdana,굴림,굴림체,Arial,seoul,Helvesolid; font-weight: bold; white-space: nowrap; color: #000000; }
table.tbSmall-a td { padding:0px 1px; margin:0px; border:0px; }

table.tbSearch-a { padding:0px; margin:0px; width:100%; border-spacing:0px; border-collapse:collapse; word-break:break-all; table-layout:fixed; border-top:2px solid #666666; }
table.tbSearch-a td { padding:10px 0px 0px 0px; margin:0px; }
table.tbSearch-b { padding:0px; margin:0px; width:100%; border-spacing:0px; border-collapse:collapse; word-break:break-all; table-layout:fixed; }
table.tbSearch-b td { padding:10px 0px 0px 0px; margin:0px; }

table.tbSearch-c { padding:0px 0px 0px 0px; margin: 10px 0px 0px 0px; width: 100%; border: 1 solid #5A5A5A; border-collapse: collapse; }
table.tbSearch-c th { padding: 3 0 3 10; height:30; border: 1px solid; background-color: #E4E4E4; text-align: center; font-size: 9pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid; font-weight: bold; white-space: nowrap; }
table.tbSearch-c td { padding: 3 0 3 10; height:30; border: 1px solid; background-color: #E4E4E4; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid; font-weight: bold; white-space: nowrap; }

table.tbButton-a { padding:0px; margin:0px; width:100%; border-spacing:0px; border-collapse:collapse; word-break:break-all; table-layout:fixed; }
table.tbButton-a th { padding:10px 0px 0px 0px; margin:0px; text-align:left}
table.tbButton-a td { padding:10px 0px 0px 0px; margin:0px; text-align:right}
table.tbButton-b { padding:0px; margin:0px; width:98%; border-spacing:0px; border-collapse:collapse; word-break:break-all; table-layout:fixed; }
table.tbButton-b td { padding:10px 0px 0px 0px; margin:0px; }


/** 왼쪽 메뉴 */
table.tbLeft-a { padding:0; margin: 0; width: 100%; border: 0 solid #FFFFFF; border-collapse: collapse; }
table.tbLeft-a th { height:30px;background:url("../wp_icon/arrow_12.gif") 0 10px no-repeat;padding-left: 10; text-align:left;font-weight:bold; font-size: 9pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid;}
table.tbLeft-a td#submenu {height:20px;padding-left: 15; text-align:left;font-weight:normal; font-size: 9pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid;}
table.tbLeft-a th a:link { font-weight:bold; font-size: 9pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid; }


/** 사용자 화면 테이블 CSS */
table.display-global { padding:0px; margin:0px 20px 0px 10px; width:95%; border-spacing:0px; border-collapse:collapse; word-break:break-all; table-layout:fixed; }
table.dpInput-a { padding:0px; margin: 0px; width: 99%; border: 1 solid; border-collapse: collapse; }
table.dpInput-a th { padding:0px 0px; border: 0px solid; background-color:#F1FED0; text-align:right; font-size:9pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid; font-weight: bold; white-space: nowrap; color: #000000; }
table.dpInput-a td { padding:3px 3px 3px 20px; border: 0px solid; background-color:#F1FED0;}
table.dpInput-a .line_01 { border-top:2px solid #9B9B9B; font-weight:bold; color:#0000ff; }

/** 인쇄시 사용하는 CSS */
table.print-global { width:640px; padding:0px; margin: 0px; border: 0 solid; border-collapse: collapse;}
table.print-table { width:640px; padding:3px; margin: 0px; border: 1 solid; border-collapse: collapse;}
table.print-table th{ padding:3px; margin: 0px; border: 1 solid; border-collapse: collapse; font-size:12pt;}
table.print-table td{ padding:3px 3px 3px 10px; margin: 0px; border: 1 solid; border-collapse: collapse;}
table.print-table2 { width:640px; padding:3px; margin: 0px; border:2 solid #000000; border-collapse: collapse;}
table.print-table2 th{ padding:3px; margin: 0px; border: 1 solid #000000; border-collapse: collapse; font-size:12pt;}
table.print-table2 td{ padding:3px 3px 3px 10px; margin: 0px; border: 1 solid #000000; border-collapse: collapse;}

/*경로*/
.tbPathBlock { padding:0px; margin:0px; width:100%; border-spacing:0px; text-align:right; border-collapse:collapse; word-break:break-all; table-layout:fixed; }
/*타이틀*/
.tbTitleBlock { text-align:absmiddle; font-size: 13pt; font-family: verdana,굴림,굴림체,Arial,seoul,Helvesolid; font-weight:bold; padding-top:20px;}

/* =============== 테이블에 대한 스타일 정의 끝 ============= */

/* ============= 게시판에 대한 스타일 정의 시작 ========== */
/* 입력화면에 대한 정의 */
table.board-a{
	padding:0;
	margin:0;
	width:100%;
	border:1 solid;
	border-collapse:collapse;
}

table.board-a th,table.board-a td{
	border:1px solid;
	vertical-align:middle;
}
table.board-a th{
	padding:10;
	background-color:#E8F8FF;
	text-align:center;
	font-weight:bold;
	white-space:nowrap;
	color:#000000;
	font-size:13px;
}
table.board-a td{
	padding:5;
	font-size:12px;
}
/* =============== 게시판에 대한 스타일 정의 끝 ============= */
